<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= toolname %></title>
    <%- include('includeBootstrap'); %>
  </head>
  <body>
    <%- include('header', { loggedIn: loggedIn }); %>
    <div class="container">
      <div class="jumbotron">
        <h1><%= toolname %></h1>
        <p>
        Securely send encrypted emails straight from the browser.
        </p>
        <div class="row">
          <div class="col-md-12">
            <h3>What does <%= toolname %> do?</h3>
            <p>
            <%= toolname %> lets you encrypt your email. It allows you to send and receive email
            that even your email provider can't read. Only you and the person you're
            talking to know what is being said. This is called <b>End-to-End</b> encryption.
            </p>
            <p>
            When you use <%= toolname %>, you send and receive email to and from your regular
            email address. It's just an email client that helps you encrypt those emails to
            keep them private. If you want to know more of the technical details behind
            <%= toolname %>, read the <a href="#security">Security</a> section below.
            </p>
            <h3> What doesn't <%= toolname %> do?</h3>
            <p>
            <%= toolname %> can't hide <i>who</i> you email with, <i>when</i> you exchange emails, or the
            <i>subject</i> lines of your emails. This information is called <b>Metadata</b>, and
            <%= toolname %> can't encrypt this information because of the way email works.
            </p>

            <h3> Getting started</h3>
            <p>
            To send and receive encrypted email through <%= toolname %>, you just need a
            Gmail account and a Keybase account. Keybase accounts are free, and our signup
            tool automates the process. <a href="/signup">Click here to get started.</a>
            </p>
            <p>
            To sign into <%= toolname %>, you simply log into your Keybase and Gmail accounts.
            You don't have a separate username and password for <%= toolname %>. Our servers
            never see the password for either account.
            </p>

            <h3> One place for encrypted email</h3>
            <p>
            All the mail you send and receive inside <%= toolname %> is encrypted, automatically.
            If you want to send or receive normal messages, just use Gmail like normal.
            When you need to use encrypted email, go to <%= toolname %>. You'll be able to see
            that you have encrypted mail in your normal Gmail inbox, but you need to open
            <%= toolname %> to read and reply to it.
            </p>

            <h3> Sending email</h3>
            <p>
            To send encrypted email to another person, they need to have a Keybase account.
            <%= toolname %> uses Keybase to find the person's key easily and quickly. Keybase identifies
            people by their public online profiles, like their Twitter or Reddit account, website,
            or other online identity. Just type in the person's name, username or website when you're
            composing an email and <%= toolname %> will find their Keybase account and encrypt
            your message for them.
            </p>

            <h3> Receiving email</h3>
            <p>
            When someone sends you an encrypted email, you'll see it in your normal inbox.
            Head to <%= toolname %> to read it or reply. Encrypted emails sent by other users of
            <%= toolname %> include a convenient link to your encrypted inbox.
            </p>

            <h2><a name="security"> Security </a></h2>

            <h3> How End-to-End encryption works</h3>
            <p>
            The point of <%= toolname %> is to make encrypting your email easy. If you'd like to
            know more about the technical details, you're in the right place.
            </p>

            <h4> Public and private keys</h4>
            <p>
            To send and receive encrypted email, each person needs a <i>public key</i> and a
            <i>secret key</i>. These keys are very large numbers that are related in a
            mathematically specific way.
            </p>

            <p>
            In order to encrypt a message to another person, you need their public key.
            Using that key, your computer can encode an email so only the person with the
            secret key corresponding to the public key you used can read it. Anyone can
            drop a letter through the slot (public key), but only the person with the
            mailbox key can open the mailbox and read the letters have have been dropped
            in.
            </p>

            <p>
            Like the name suggests, each person using encryption has to keep their <i>secret</i>
            key a secret. Because of this, it is always stored in a password protected
            format. You should use a strong, unique password to protect your secret key.
            </p>

            <h4> Why we use Keybase</h4>
            <p>
            Getting others' keys is hard. For years, the question of how to get someone's
            key -- and to be able to trust it's definitely their -- has been an hard
            problem in computer security. Keybase tries to solve this problem by making it
            easy to get people's keys as long as you know who they are online.
            </p>

            <p>
            You can find people on Keybase by any of their public social media profiles
            which they've linked to their key. Linking their key is a cryptographic way of
            asserting that the person behind a social media account also owns a particular
            key. For more details, see Keybase's website: LINK.
            </p>

            <p>
            Additionally, Keybase stores the password protected version of your secret key.
            This means you can't lose your secret key even if your computer is lost or fails,
            but it's still safe, because the key is encrypted with your passphrase.
            </p>

            <h4> End-to-End encryption</h4>
            <p>
            By encrypting messages using the recipient's public key, only you and the person
            you email know what you're both saying. It's called End-to-End encryption because
            the encryption happens on the computers of the sender and receiver, and intermediaries
            like your email providers never know the keys necessary to decrypt the messages.
            End-to-end encryption is now used in messengers like iMessage and WhatsApp.
            </p>
          </div>
        </div>
  </body>
</html>
