<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= toolname %></title>
	<%- include('includeBootstrap'); %>
</head>
<body>
	<%- include('header', { email: email, loggedIn: loggedIn }); %>
	<div class="container">
		<div class="jumbotron">
			<h1><%= toolname %></h1>
			<p>
				Securely send encrypted emails straight from the browser.
				All you need to get started is a <a href="https://keybase.io/">Keybase</a> account
				and <a href="https://mail.google.com/">Gmail</a> account!
			</p>

			<p>
				<% if (loggedIn) { %>
					<a class="btn btn-primary" href="/mail" role="button">Go to Inbox</a>
				<% } else { %>
          <a class="btn btn-success" href="/signup" role="button">Create Account</a>
					<a class="btn btn-primary" href="/login" role="button">Log In</a>
				<% } %>
			</p>
		</div>
    <div class="row">
      <div class="col-md-6">
        <h2>How does it work?</h2>
        <p>
          <%= toolname %> is a browser based end-to-end encrypted email client. It uses
          your Gmail account to send and receive messages, and uses Keybase to
          store your private keys and look up public keys.
        </p>
        <p>
          When you log into your <%= toolname %> inbox, your browser gets your private key
          from Keybase, and your encrypted emails from Gmail. Then, it
          automatically decrypts all of the messages.
        </p>
        <p>
          When you send an email, you find the recipients on Keybase using their
          name, username, or any of their linked accounts (Twitter, Github, etc).
          Then, <%= toolname %> looks up their public keys, encrypts the message
          in the browser, and sends it through Gmail.
        </p>
      </div>
      <div class="col-md-6">
        <h2>Is it secure?</h2>
        <p>
          Yes!
        </p>
        <ul>
          <li>
            <%= toolname %> doesn't store any of your personal information or login
            credentials on our servers.
          </li>
          <li><%= toolname %> uses OAuth to access your messages from Gmail.</li>
          <li>
            Your Keybase password is hashed in the browser, before sending it
            over the network.
          </li>
          <li>
            All emails are encrypted and decrypted in the browser using the
            kbpgp library.
          </li>
        </ul>
      </div>
    </div>
	</div>
</body>
</html>
